.social {
  width: 100%;
}
.social-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.social-row-btn {
  height: 33px;
  width: 90px;
}
.social-row .icon {
  color: #bbbbbb;
  margin-right: 10px;
}
.social-row-active {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.social-row-active .icon {
  color: #21bedd;
  margin-right: 10px;
}
