.social {
  width: 100%;
  &-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .icon {
      color: #bbbbbb;
    }

    &-link {
      padding: 0 10px;
      font-size: 11px;
      font-family: RobotoRegular;
      overflow: hidden;
      width: min-content;
    }

    &-active {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .icon {
        color: #21bedd;
      }
    }
  }
}