.social {
  width: 100%;
  &-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;

    &-btn {
      height: 33px;
      width: 90px;
    }

    .icon {
      color: #bbbbbb;
      margin-right: 10px;
    }

    &-active {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      align-items: center;
      width: 100%;
      justify-content: center;

      .icon {
        color: #21bedd;
        margin-right: 10px;
      }
    }
  }
}