.notification-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 25px 20px 55px;
  background-color: #fff;
}
.notification-newtsubscription {
  background-color: #fefbf3;
}
.notification-newtsubscription .notification-title {
  color: #fdc401;
}
.notification-newtsubscription .notification-icon {
  display: block;
}
.notification-newtsubscription .notification-icon .icon {
  color: #fdc401;
}
.notification-newtraining {
  background-color: #fefbf3;
}
.notification-newtraining .notification-title {
  color: #fdc401;
}
.notification-newtraining .notification-icon {
  display: block;
}
.notification-newtraining .notification-icon .icon {
  color: #fdc401;
}
.notification-next {
  background-color: #fefbf3;
}
.notification-next .notification-title {
  color: #fdc401;
}
.notification-next .notification-icon {
  display: block;
}
.notification-next .notification-icon .icon {
  color: #fdc401;
}
.notification-nextpay {
  background-color: #fefbf3;
}
.notification-nextpay .notification-title {
  color: #fdc401;
}
.notification-nextpay .notification-icon {
  display: block;
}
.notification-nextpay .notification-icon .icon {
  color: #fdc401;
}
.notification-canceltraining {
  background-color: #fefbf3;
}
.notification-canceltraining .notification-title {
  color: #fdc401;
}
.notification-canceltraining .notification-icon {
  display: block;
}
.notification-canceltraining .notification-icon .icon {
  color: #fdc401;
}
.notification-newmessage {
  background-color: #fefbf3;
}
.notification-newmessage .notification-title {
  color: #fdc401;
}
.notification-newmessage .notification-icon {
  display: block;
}
.notification-newmessage .notification-icon .icon {
  color: #fdc401;
}
.notification-transfertraining {
  background-color: #fefbf3;
}
.notification-transfertraining .notification-title {
  color: #fdc401;
}
.notification-transfertraining .notification-icon {
  display: block;
}
.notification-transfertraining .notification-icon .icon {
  color: #fdc401;
}
.notification-scheduleChanged {
  background-color: #fefbf3;
}
.notification-scheduleChanged .notification-title {
  color: #fdc401;
}
.notification-scheduleChanged .notification-icon {
  display: block;
}
.notification-scheduleChanged .notification-icon .icon {
  color: #fdc401;
}
.notification-transfertraining {
  background-color: #fefbf3;
}
.notification-transfertraining .notification-title {
  color: #00c853;
}
.notification-transfertraining .notification-icon {
  display: block;
}
.notification-transfertraining .notification-icon .icon {
  color: #00c853;
}
.notification-negative {
  background-color: #fefbf3;
}
.notification-negative .notification-title {
  color: #ef5350;
}
.notification-negative .notification-icon {
  display: block;
}
.notification-negative .notification-icon .icon {
  color: #ef5350;
}
.notification-call {
  background-color: #fefbf3;
}
.notification-call .notification-title {
  color: #ef5350;
}
.notification-call .notification-icon {
  display: block;
}
.notification-call .notification-icon .icon {
  color: #ef5350;
}
.notification-watch {
  background-color: #fff;
}
.notification-watch .notification-title {
  color: #344051;
}
.notification-watch .notification-icon .icon {
  color: #344051;
}
.notification-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification-icon {
  position: absolute;
  left: 20px;
  top: 28px;
}
.notification-title {
  color: #344051;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  font-family: "RobotoBold";
  margin-bottom: 12px;
}
.notification-time {
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #344051;
  line-height: 1;
  margin-bottom: 12px;
}
.notification-info {
  font-family: "RobotoRegular";
  font-size: 12px;
  color: #344051;
  line-height: 1;
}
.notification-info-nameTo {
  margin-top: 10px;
}
.notification-links {
  position: relative;
}
.notification-links .link {
  color: #204d8d;
}
.notification-links .link span {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  max-width: 250px;
  font-size: 12px;
}
.notification-links .btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.notification-links .btn .icon {
  margin-right: 0;
}
