.section {
    margin-bottom: 20px;

    .ant-card-body {
        min-height: 65px;
    }
}

.admin {
    &-payload {
        display: flex;
        flex-direction: column;
        margin: 25px;
        text-align: center;
        font-family: RobotoMedium;

        &-btnPlate {
            margin-top: 25px;
            display: flex;
            justify-content: space-evenly;

            &-link {
                margin: 0 5px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
