.payment {
  &-student {

    .ant-card-body {
      color: #000;
    }

    .new-input {
      border: none;

      input[type="text"] {
        border-bottom: 1px solid #000;
      }

      label {
        font-family: RobotoMedium;
      }
    }

    display: grid;
    grid-template-areas: "plans plans" "data stats";
    grid-template-rows: 523px 266px;
    grid-template-columns: 580px 890px;
    grid-gap: 30px;

    &-trainingPlans {
      grid-area: plans;

      .info {
        font-family: RobotoRegularItalic;
        font-size: 20px;
        padding: 20px 30px;
        margin: 0;
      }

      .plansPlate {
        display: flex;
        justify-content: center;
      }
    }

    &-paymentData {
      grid-area: data;

      .inputPlate {
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .input {
          width: 55%;
          margin-right: 40px;
        }

        .applyBtn {
          width: 20%;
        }
      }
    }

    &-stats {
      grid-area: stats;

      &-plate {
        display: flex;
        flex-direction: row;
        padding: 23px 0 0 40px;
        justify-content: center;

        & > div {
          padding-right: 19px;
          margin-right: 20px;
        }

        & > div:not(:last-child) {
          border-right: 1px solid #c6c1c8;
        }

        .title {
          display: flex;
          height: 80px;
          margin-bottom: 20px;
          justify-content: center;
          align-items: center;

          .count {
            margin-top: 20px;
            font-family: RobotoMedium;
            color: #21bedd;
            font-size: 48px;
            width: 50%;
            text-align: center;
          }

          .date {
            margin-top: 20px;
            font-family: RobotoMedium;
            color: #21bedd;
            font-size: 30px;
            width: 50%;
            text-align: center;
          }

          .name {

            font-family: RobotoMediumItalic;
            font-size: 18px;
            width: 50%;
            height: 35px;
            margin: 0;
            text-align: left;
          }
        }

        .info {
          font-family: RobotoRegularItalic;
        }
      }
    }
  }
}
