.payment-student {
  display: grid;
  grid-template-areas: "plans plans" "data stats";
  grid-template-rows: 523px 266px;
  grid-template-columns: 580px 890px;
  grid-gap: 30px;
}
.payment-student .ant-card-body {
  color: #000;
}
.payment-student .new-input {
  border: none;
}
.payment-student .new-input input[type="text"] {
  border-bottom: 1px solid #000;
}
.payment-student .new-input label {
  font-family: RobotoMedium;
}
.payment-student-trainingPlans {
  grid-area: plans;
}
.payment-student-trainingPlans .info {
  font-family: RobotoRegularItalic;
  font-size: 20px;
  padding: 20px 30px;
  margin: 0;
}
.payment-student-trainingPlans .plansPlate {
  display: flex;
  justify-content: center;
}
.payment-student-paymentData {
  grid-area: data;
}
.payment-student-paymentData .inputPlate {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.payment-student-paymentData .inputPlate .input {
  width: 55%;
  margin-right: 40px;
}
.payment-student-paymentData .inputPlate .applyBtn {
  width: 20%;
}
.payment-student-stats {
  grid-area: stats;
}
.payment-student-stats-plate {
  display: flex;
  flex-direction: row;
  padding: 23px 0 0 40px;
  justify-content: center;
}
.payment-student-stats-plate > div {
  padding-right: 19px;
  margin-right: 20px;
}
.payment-student-stats-plate > div:not(:last-child) {
  border-right: 1px solid #c6c1c8;
}
.payment-student-stats-plate .title {
  display: flex;
  height: 80px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.payment-student-stats-plate .title .count {
  margin-top: 20px;
  font-family: RobotoMedium;
  color: #21bedd;
  font-size: 48px;
  width: 50%;
  text-align: center;
}
.payment-student-stats-plate .title .date {
  margin-top: 20px;
  font-family: RobotoMedium;
  color: #21bedd;
  font-size: 30px;
  width: 50%;
  text-align: center;
}
.payment-student-stats-plate .title .name {
  font-family: RobotoMediumItalic;
  font-size: 18px;
  width: 50%;
  height: 35px;
  margin: 0;
  text-align: left;
}
.payment-student-stats-plate .info {
  font-family: RobotoRegularItalic;
}
