.myStudent-wrapper{
  border-bottom: 1px dashed #e1e1e1;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.myStudent {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  
  border-bottom: none !important;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 5px !important;

  &:last-child {
    border: none;
  }
  &-info {
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin-left: 20px;
    font-family: RobotoRegular, sans-serif;
    &-name {
      color: #2abc6c;
      font-family: RobotoBlack, sans-serif;
      line-height: 18px;
      margin-right: 20px;
      &:hover{
        color: black;
      }
    }
    &-discipline {
      font-size: 12px;
      line-height: 24px;
      color: #777777;
    }
    &-student {
      //background-color: rgba(255, 0, 0, 0.527);
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
      
      &-info{
        //background-color: rgba(255, 251, 0, 0.274);
        height: 100%;
        margin-left: 10px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-name{
          font-size: 13px;
          font-family: RobotoBlack, sans-serif;
          color: #2abc6c;
          &:hover{
            color: #000000;
          }
        }
        &-status{
          font-weight: 800;
        }
      }
    }
  }
}
