.new-input {
  position: relative;
  z-index: 1;
}
.new-input .ant-select {
  width: 100%;
  z-index: 1;
  font: 14px/30px "RobotoMedium", serif;
  color: #111;
}
.new-input .ant-select .ant-select-selection {
  border: none;
  background: transparent;
  box-shadow: none;
}
.new-input .ant-select .ant-select-selection .ant-select-selection__rendered ul li {
  border-radius: 11px;
  background-color: #21bedd;
}
.new-input .ant-select .ant-select-selection .ant-select-selection__rendered ul li:last-child {
  background-color: transparent;
}
.new-input .ant-select-open {
  outline: none;
  border: none;
}
.new-input .ant-select-dropdown-menu-item {
  color: #111;
}
.new-input input[type="text"] {
  outline: none;
  font-size: 14px;
  line-height: 36px;
  color: #333333;
  width: 100%;
  box-sizing: border-box;
}
.new-input .effect {
  border: 0;
  padding: 4px 0;
  background-color: transparent;
}
.new-input .effect ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  color: #777777;
  transition: 0.3s;
  z-index: -1;
}
.new-input .ant-select-focused .ant-select-selection,
.new-input .ant-select-selection:focus,
.new-input .ant-select-selection:active {
  box-shadow: none;
}
.new-input .effect.ant-select-focused ~ label,
.new-input .has-content.effect ~ label {
  top: -23px;
  color: #777;
  font-size: 12px;
  transition: 0.3s;
}
