.coach {
	&-data {

		&-payment {
			width: 70%;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;

			.payment-method {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				&:nth-child(1) {
					width: 47.5%;
					height: auto;
					margin-right: 40px;
				}

				&:nth-child(2) {
					width: 47.5%;
				}

				&:nth-child(3) {
					width: 100%;
				}

				&-view {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
				}

				&-linkBtn {
					margin-left: 40px;
					height: 39px;
				}

				&-fields {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin-top: 20px;

					.input-form-item {
						.new-input-wrapper {
							border-bottom: 1px solid #d9d9d9;
							label {
								font-family: RobotoRegular;
							}
						}
					}
				}
			}
		}
	}
}