.train-carousel {
  width: 100%;
}
.train-carousel.train-carousel.no-intervals {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.train-carousel span.no-schedule {
  color: #344051;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  background-color: rgba(255, 201, 4, 0.5);
  border-radius: 5px;
}
.train-carousel-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.train-carousel-slide .schedule {
  overflow: hidden;
}
.train-carousel-slide .schedule .carouselPosition {
  display: flex;
  justify-content: flex-start;
  transition: 0.2s ease-out;
  position: relative;
}
.train-carousel-slide .btn-prev {
  background-color: transparent;
  padding: 10px;
  top: 25px;
  border: none;
}
.train-carousel-slide .btn-prev .icon {
  color: #344051;
  font-size: 13px !important;
}
.train-carousel-slide .btn-prev:hover {
  background-color: transparent;
}
.train-carousel-slide .btn-prev:hover .icon {
  color: #21bedd;
}
.train-carousel-slide .btn-next {
  background-color: transparent;
  padding: 10px;
  top: 25px;
  border: none;
}
.train-carousel-slide .btn-next .icon {
  color: #344051;
  font-size: 13px !important;
}
.train-carousel-slide .btn-next:hover {
  background-color: transparent;
}
.train-carousel-slide .btn-next:hover .icon {
  color: #21bedd;
}
.train-carousel-col {
  width: 100%;
  min-width: 14.3%;
}
.train-carousel-days {
  display: flex;
  flex-wrap: wrap;
}
.train-carousel-day {
  font-family: RobotoRegularItalic;
  font-size: 12px;
  text-align: center;
  color: #344051;
  line-height: 1;
  padding: 30px 0 5px;
}
.train-carousel-time {
  color: #344051;
  background-color: #ffc904;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}
.train-carousel-time:hover {
  background-color: #ff90bb;
  color: #fff;
}
.train-carousel-time.close {
  background-color: #ffeeb5 !important;
  color: #344051 !important;
  cursor: default;
}
.train-carousel-time.activeTime {
  background-color: #ff7dab !important;
  color: white!important;
}
.train-carousel-time.unAvailableTime {
  background-color: rgba(255, 201, 4, 0.5);
  color: #c6c1c8;
  cursor: not-allowed;
}
.train-carousel .table-footer {
  text-align: center;
  padding-bottom: 20px;
}
