.train {
	&-carousel {
		padding: 5px 20px 20px;

		.table {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-header {

				.btn-prev{
					background-color: transparent;
					padding: 10px;
					border: none;

					.icon{
						color: #344051;
						font-size: 13px !important;
					}

					&:hover{
						background-color: transparent;

						.icon{
							color: #21bedd;
						}
					}
				}

				.btn-next{
					background-color: transparent;
					padding: 10px;
					border: none;

					.icon{
						color: #344051;
						font-size: 13px !important;
					}

					&:hover{
						background-color: transparent;

						.icon{
							color: #21bedd;
						}
					}
				}
			}

			&-main {
				overflow: hidden;
				display: flex;
				justify-content: center;
				transition: 0.2s ease-out;
				height: 317px;
				align-items: center;

				&-admin{
					height: 517px !important;
					@media (min-width: 1281px) {
						height: 717px !important;
					}
				}

				&-col{
					width: 13.5%;
					margin-right: -1px;
				}

				&-day{
					font-family: RobotoRegularItalic;
					font-size: 12px;
					text-align: center;
					color: #344051;
					line-height: 1;
					padding: 5px 0;
					white-space: nowrap;
					overflow: hidden;
				}

				&-time {
					background-color: #fff;
					border: 1px solid #b7b7b7;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 20px;
					user-select: none;
					cursor: not-allowed;
					margin-top: -1px;
					text-align: center;
					color: #fff;
					font-size: 14px;
					overflow: hidden;

					&-admin{
						height: 30px !important;
						@media (min-width: 1281px) {
							height: 40px !important;
						}
					}

					.ownTime {
						height: 100%;
						width: 100%;
						background-color: rgba(33, 190, 221, 0.2);
						border: 1px solid #21bedd;
						cursor: pointer;

						display: flex;
  						align-items: center;
  						justify-content: center;
  						font-size: 8px;
  						line-height: 1;
  						color: #344051;


						&:hover {
							background-color: rgba(33, 190, 221, 0.5);
							line-height: 1;
						}
					}

					.reservedTime {
						height: 100%;
						width: 100%;
						background-color: rgba(33, 190, 221, 0.2);
						border: 1px solid #21bedd;
						cursor: pointer;

						display: flex;
  						align-items: center;
  						justify-content: center;
  						font-size: 10px;
  						line-height: 1;
						color: #344051;
						  
						@media (min-width: 1281px) {
							font-size: 13px;
						}

						&:hover {
							background-color: rgba(33, 190, 221, 0.5);
						}
					}

					.availableTime {
						height: 100%;
						width: 100%;
						background-color: rgba(0, 255, 0, 0.2);
						border: 1px solid rgba(0, 255, 0, 1);
						cursor: pointer;

						&:hover {
							background-color: rgba(0, 255, 0, 0.4);
							line-height: 1;

							&:after {
								content: '+';
							}
						}
					}

					.adminAvaiableTime {
						height: 100%;
						width: 100%;
						background-color: rgba(0, 255, 0, 0.2);
						border: 1px solid rgba(0, 255, 0, 1);
						cursor: pointer;
					}

					.completeTime {
						display: flex;
						height: 100%;
						width: 100%;
						align-items: center;
						justify-content: center;
						background-color: rgb(235, 203, 23);
						border: 1px solid rgb(136, 134, 14);
						font-size: 8px;
  						line-height: 1;
						color: #344051;

						&:hover {
							background-color: rgba(206, 204, 97, 0.514);
							cursor: pointer;
						}
					}

					.completeTime-admin {
						display: flex;
						height: 100%;
						width: 100%;
						align-items: center;
						justify-content: center;
						background-color: rgb(235, 203, 23);
						border: 1px solid rgb(136, 134, 14);
						font-size: 10px;
  						line-height: 1;
						color: #344051;

						&:hover {
							background-color: rgba(206, 204, 97, 0.514);
							cursor: pointer;
						}

						@media (min-width: 1281px) {
							font-size: 13px;
						}

						
					}

					

					.bookingTime {
						display: flex;
						height: 100%;
						width: 100%;
						align-items: center;
						justify-content: center;
						background-color: rgba(136, 136, 136, 0.24);;
						font-size: 8px;
  						line-height: 1;
						color: #344051;
						border: 1px solid rgba(87, 0, 138, 0.582);
						
						&-admin {
							display: flex;
							height: 100%;
							width: 100%;
							align-items: center;
							justify-content: center;
							background-color: rgba(136, 136, 136, 0.24);;
							font-size: 10px;
							line-height: 1;
							color: #344051;
							border: 1px solid rgba(87, 0, 138, 0.582);

							@media (min-width: 1281px) {
								font-size: 13px;
							}
						}
						&:hover {
							background-color: rgba(179, 99, 226, 0.219);
							cursor: pointer;
						}
					}
					
				}

				&-row {
					display: flex;
					width: 100%;
				}

				&-times {
					display: flex;
					flex-direction: column;
					margin: 23px 3px 0 0;

					div {
						height: 19px;
						font-family: RobotoRegularItalic;
						font-size: 12px;
						text-align: center;
						color: #344051;
					}
				}

				&-times-admin {
					display: flex;
					flex-direction: column;
					margin: 27px 3px 0 0;

					@media (min-width: 1281px) {
						margin: 32px 3px 0 0;
					}

					div {
						height: 29px;
						font-family: RobotoRegularItalic;
						font-size: 13px;
						text-align: center;
						color: #344051;

						@media (min-width: 1281px) {
							height: 39px;
						}
					}
				}
			}

			&-footer {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evently;
				margin-top: 7px;

				.type {
					width: 45%;
					display: flex;
					padding:0;
					margin-left: 20px;
					font-size: 12px;
					align-items: center;
					justify-content: flex-start;
					
					&-name {
						display: flex;
					}
					&-color {

						&-available {
							width: 30px;
							height: 30px;
							margin-right: 10px;
							background-color: rgba(0, 255, 0, 0.2);
							border: 2px solid rgba(0, 255, 0, 1);
						}

						&-own {
							width: 30px;
							height: 30px;
							margin-right: 10px;
							background-color: rgba(33, 190, 221, 0.2);
							border: 2px solid #21bedd;
						}

						&-reserved {
							width: 30px;
							height: 30px;
							margin-right: 10px;
							background-color: rgba(33, 190, 221, 0.2);
							border: 2px solid #21bedd;
						}

						&-complete {
							min-width: 30px;
							min-height: 30px;
							margin-right: 10px;
							background-color: rgb(235, 203, 23);
							border: 2px solid #00000041;
						}

						&-booking {
							min-width: 30px;
							min-height: 30px;
							margin-right: 10px;
							background-color: rgba(136, 136, 136, 0.24);
							border: 2px solid #00000041;
						}
					}
				}
			}
		}
	}
}
