.lastTrainings .ant-card-body {
  height: 485px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 30px !important;
}
.lastTrainings .ant-card-body .spinner-wrapper {
  margin-top: 20px;
}
.lastTrainings-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  padding: 0 !important;
  padding-right: 8px !important;
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}
.lastTrainings-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.lastTrainings-link span {
  color: #000;
}
