.my-coach {
  display: flex;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 20px;
}
.my-coach:last-child {
  border: none;
}
.my-coach-avatar:hover {
  cursor: pointer;
}
.my-coach-info {
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
  font-family: RobotoRegular, sans-serif;
}
.my-coach-info-name {
  color: #2abc6c;
  font-family: RobotoBlack, sans-serif;
  line-height: 18px;
  margin-right: 20px;
}
.my-coach-info-name:hover {
  color: #000;
  cursor: pointer;
}
.my-coach-info-discipline {
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}
.my-coach-info-lastMessage {
  color: #111;
  line-height: 20px;
  margin: 5px 0 10px 0;
  height: 40px;
  overflow: hidden;
}
