
* {
  box-sizing: border-box;
}

.perfect {

  &-student {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;

    &-fields {
      flex-direction: column;
      margin-bottom: 10px;

      &-row {
        margin-bottom: 15px;
        width: 70%;
      }

      .data {
        font-family: RobotoMedium;
        margin-left: 25px;
      }

      &-name {
        color: #21bedd;
        font-family: "RobotoMediumItalic";
        text-transform: uppercase;
      }
    }

    &-comment {
      font-family: RobotoMedium;
    }
  }
}