.coach{

  &-data{
    position: relative;
    min-width: 450px;

    &-saveBtn {
      margin: 0 25px 50px 25px;
    }

    .new-input {
      input[type="text"] {
        font-family: RobotoMedium;
      }

      .ant-select-selection-selected-value {
        font-family: RobotoMedium;
      }
    }

    .ant-calendar-picker-input {
      font-family: RobotoMedium;
      margin-bottom: -1px;
    }

    &-form {
      padding: 25px;
    }

    &-block {
      position: relative;
      display: flex;
    }

    &-title{
      position: relative;
      width: 100%;
      color: #21bedd;
      font-family: "RobotoMediumItalic";
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }
}