.personal{

	&-suggestions{

		.suggestions-column{
			margin: 27px 35px 35px 35px;

			p {
				font-family: RobotoRegularItalic;
				color: #000011;
			}

			&-input {
				margin-top: 20px;
				margin-bottom: 35px;
				height: 180px;

				.textarea-label {
					font-family: RobotoRegular;
					color: #777777;
					margin-bottom: 7px;
				}
				.textarea-field {
					border-color: #e1e1e1;
				}
			}
		}
	}
}


