.chat-list .ant-card-body {
  height: 485px;
  display: flex;
  flex-direction: column;
}
.chat-list-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  color: #111;
  padding-right: 8px !important;
  display: inline-flex;
  flex-direction: row-reverse;
}
.chat-list-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.chat-list-link span {
  color: #000;
}
.chat-list .ant-card-body {
  justify-content: center;
}
