.chat {
  &-list {
    .ant-card-body {
      display: flex;
      flex-direction: column;
    }
    .inline-spinner {
      text-align: center;
      margin: 15px;
    }
    &-link {
      font-family: RobotoRegularItalic, sans-serif;
      font-size: 14px;
      color: #111;
      padding-right: 8px !important;
      display: inline-flex;
      flex-direction: row-reverse;

      .icon {
        margin: 0 10px;
        color: #000;
        font-size: 24px !important;
      }
      span {
        color: #000;
      }
    }
    .ant-card-body {
      justify-content: center;
    }
  }
}