.chat-list .ant-card-body {
  display: flex;
  flex-direction: column;
  min-height: 60px;
}
.chat-list .inline-spinner {
  text-align: center;
  margin: 15px;
}
.chat-list-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  color: #111;
  padding-right: 8px !important;
  display: inline-flex;
  flex-direction: row-reverse;
}
.chat-list-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.chat-list-link span {
  color: #000;
}
.chat-list-wrapper > div:first-child .nearTraining-circleDate {
  border: 1px solid #ff7daa;
  color: #ff7daa;
}
.chat-list .ant-card-body {
  justify-content: center;
}
