.AdminCreateTrainingModal {
  padding: 10px 40px 40px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.AdminCreateTrainingModal .info {
  font-family: RobotoRegularItalic;
  color: #000;
  width: 100%;
}
.AdminCreateTrainingModal .info-small {
  font-family: RobotoRegularItalic;
  color: #c6c1c8;
  font-size: 12px;
  width: 270px;
}
.AdminCreateTrainingModal .info-complete {
  padding: 20px;
}
.AdminCreateTrainingModal .radio-label {
  color: #000;
  font-family: RobotoMedium;
}
.AdminCreateTrainingModal .item {
  width: 50%;
}
.AdminCreateTrainingModal .item-title {
  color: #000;
  font-family: RobotoMedium;
}
.AdminCreateTrainingModal .fields {
  width: 100%;
}
.AdminCreateTrainingModal .submitPlate {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.AdminCreateTrainingModal .submitPlate .saveBtn {
  width: 20%;
}
.AdminCreateTrainingModal .submitPlate .spinner-wrapper {
  padding-left: 10px;
}
.AdminCreateTrainingModal .payment-fields {
  display: flex;
  flex-direction: column;
}
.AdminCreateTrainingModal .payment-fields .input-form-item {
  margin-bottom: 25px;
}
.AdminCreateTrainingModal-submit {
  display: flex;
  align-items: center;
}
.AdminCreateTrainingModal-submit-error {
  color: #f5222d;
  margin-left: 30px;
}
.modal-row {
  display: flex;
}
.modal-result {
  font-size: 14px;
  line-height: 18px;
  color: #344051;
  font-family: "RobotoMedium";
}
.modal-data {
  display: flex;
  align-items: center;
  width: 50%;
}
.modal-data .icon {
  margin-right: 15px;
}
.modal-time {
  width: 50%;
  display: flex;
  align-items: center;
}
.modal-time .icon {
  margin-right: 15px;
}
.ant-time-picker-icon .ant-time-picker-clock-icon {
  color: #21bedd;
}
.ant-modal-close-x {
  color: #000;
}
.ant-modal-header .ant-modal-title {
  background-color: #ff7daa;
  color: #000;
  font-family: RobotoRegularItalic;
}
