.AdminCreateTrainingModal {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AdminCreateTrainingModal .fields {
  justify-content: center;
  align-self: center;
  text-align: center;
}
.AdminCreateTrainingModal .submitPlate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.AdminCreateTrainingModal .submitPlate .trainBtn {
  width: 45%;
}
