.AdminCreateTrainingModal {
  padding: 10px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .info {
    font-family: RobotoRegularItalic;
    color: #000;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .item {
    width: 50%;

    &-title {
      color: #000;
      font-family: RobotoMedium;
    }
  }

  .fields {
    width: 100%;

    .studentName {
      text-align: center;
      font-size: 20px;
      font-family: "RobotoBlack", sans-serif;
    }

    p {
      margin: 20px 0 0;
    }

    .ant-row {
      margin: 20px 0 0;
    }
  }

  .submitPlate {
    display: flex;
    margin: 20px 0 0;
    align-items: center;
    justify-content: space-evenly;

    .trainBtn {
      width: 45%;
    }
  }
}

.modal {

  &-header {

  }
  &-row {
    display: flex;
  }

  &-result {
    font-size: 14px;
    line-height: 18px;
    color: #344051;
    font-family: "RobotoMedium";
  }

  &-data {
    display: flex;
    align-items: center;
    width: 50%;

    .icon {
      margin-right: 15px;
    }
  }

  &-time {
    width: 50%;
    display: flex;
    align-items: center;

    .ant-form-item {
    }

    .icon {
      margin-right: 15px;
    }
  }
}

.ant {
  &-time-picker-icon &-time-picker-clock-icon {
    color: #21bedd;
  }

  &-modal {
    &-close-x {
      color: #000;
    }

    &-header &-title{
      background-color: #ff7daa;
      color: #000;
      font-family: RobotoRegularItalic;
    }
  }
}