.list-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    width: 100%;


    &-text {
        color: black;
        height: 100%;
        margin: 0;
    }
}