.notific_component {
  position: relative;
}

.notification {
  &-card {
    margin-left: -350px;
    width: 425px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
  .ant-card-head {
      background-color: #fdc401;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 22.5px 0;
      border-bottom: 1px solid #ebebeb;
      left: 0;
      right: 0;
      top: 0;
      z-index: 9;
    }
    &-scroll {
      max-height: 63vh;
    }
  }
}
