.coach {
	&-data {

		&-studentPreferences {
			width: 70%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;

			.input-form-item {
				&:nth-child(1) {
					width: 47.5%;
				}

				&:nth-child(2) {
					width: 47.5%;
				}
				&:nth-child(3) {
					width: 100%;
				}
				&:nth-child(4) {
					width: 100%;
				}
				&:nth-child(5) {
					width: 100%;
				}
			}

			.textarea-label {
				color: #777777;
				font-family: RobotoRegular;
			}

			.textarea-field {
				border-color: #e1e1e1;
				height: 133px;
			}

			.input-form-item {
				margin-bottom: 20px;
			}
		}
	}
}