a{
	color: #204d8d;

	&:hover{
		color: #204d8d;
		text-decoration: underline;
	}
}

.personal{

	&-password{

		.password-column{
			margin: 30px 35px 35px 35px;

			&-input {
				margin-bottom: 40px;
				width: 80%;
			}
		}
	}
}


