.spinner-wrapper {
  display: flex;
  justify-content: center;

  .ant-spin-dot i {
    background-color: #21bedd;
  }

  .ant-spin-text {
    color: #21bedd;
  }
}

.inline-spinner {
  display: inline-block;

  .ant-spin-dot i {
    background-color: #21bedd;
  }
}
