.spinner-wrapper {
  display: flex;
  justify-content: center;
}
.spinner-wrapper .ant-spin-dot i {
  background-color: #21bedd;
}
.inline-spinner {
  display: inline-block;
}
.inline-spinner .ant-spin-dot i {
  background-color: #21bedd;
}
.background-spinner .ant-spin-dot i {
  background-color: #fff;
}
.background-spinner .ant-spin-show-text {
  color: #fff;
}
