.PromoVideoModal {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fields {
    justify-content: center;
    align-self: center;
    text-align: center;

    &-info {
      font-family: RobotoMedium;
    }
  }

  .submitPlate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .trainBtn {
      width: 45%;
    }
  }
}
