.schedule-message-modal {
  display: flex;
  justify-content: center;

  &-wrapper {
      top: 30%;

      .schedule-message-btn {
          display: inline-block;
          margin: 10px;

          button {
              width: 100px;
          }
      }

      .admin-trainer-wrapper{
          display: flex;
          justify-content: space-around;
          .block-free-trainer {
              padding: 10px;
              width: 300px;
          }
      }
      

      .free-trainer {
          margin: 10px;
          text-align: center;
          font-weight: bold;
      }
  }
}