.coach-data-skill {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.coach-data-skill .input-form-item:nth-child(1) {
  width: 47.5%;
}
.coach-data-skill .input-form-item:nth-child(2) {
  width: 47.5%;
}
.coach-data-skill .input-form-item:nth-child(3) {
  width: 47.5%;
}
.coach-data-skill .input-form-item:nth-child(4) {
  width: 47.5%;
}
.coach-data-skill .input-form-item:nth-child(5) {
  width: 100%;
}
.coach-data-skill .input-form-item:nth-child(6) {
  width: 100%;
}
.coach-data-skill .input-form-item:nth-child(7) {
  width: 100%;
}
