
.homework-list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    background-color: rgba(#21bedd, 0.1);
  }

  .flex-col {
    padding: 25px 0;
    text-align: center;
    margin-right: 1%;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
    font-family: "RobotoRegular", sans-serif;
    &:first-child {
      margin-left: 1%;
    }
    &.date {
      width: 9%;
    }
    &.name {
      width: 15%;
      font-size: 14px;
      line-height: 24px;
      color: #21bedd;
      font-family: "RobotoBlack", sans-serif;
      font-weight: 800;
      cursor: pointer;
    }
    &.discipline {
      width: 15%;
    }
    &.record {
      width: 15%;
    }
    &.homework {
      width: 30%;
    }
    &.attachments {
      width: 15%
    }
    .training-date {
      .time {
        font-size: 12px;
        line-height: 26px;
        color: #777;
      }
    }
    .sendHomework {
      position: relative;
      width: 80%;
      margin: auto;
      &-textArea {
        .textarea-field {
          height: 40px;
          border: 1px solid #878787;
        }
      }
      &-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 6px;
        right: 12px;
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
        &:hover {
          span.icon {
            color: #777;
          }
        }
        span.icon {
          font-size: 15px;
          cursor: pointer;
          color: #bbbbbb;
        }
      }

    }
  }
}
