.personal{
	&-coach-items {
		background-color: #7544ea;
	}

	&-suggestions {
		margin-bottom: 35px;
		min-width: 200px;
	}

	&-password {
		margin-bottom: 35px;
		min-width: 200px;
	}

	&-notifications {
		min-width: 200px;
	}
}
