.ant-modal-body {
    padding: 0;
    position: relative;
}

.ant-modal-title {
    font-family: "RobotoRegular";
}

.ant {

    &-modal {

        &-header {
            background-color: #21bedd;
            color: #ffffff;

            .ant-modal-title {
                color: #ffffff;
                font-size: 20px;
            }
        }

        &-close {

            &-x {
                color: #ffffff;
            }
        }
    }

    &-modal.warning {

        .ant-modal-header {
            background-color: #fdc401;
            color: #ffffff;
        }

        .icon {
            position: absolute;
            color: #ffffff;
            top: -40px;
            right: 35px;
        }
    }
}

.quick-modal {
    .ant-modal-content {
        border-radius: 5px;
        overflow: hidden;

        .ant-modal-close {
            display: unset;
        }

        .ant-modal-body {
            display: flex;
            flex-direction: column;
            padding: 0;

            .ant-confirm-body-wrapper {
                .ant-confirm {
                    &-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .anticon {
                            display: none;
                        }

                        .ant-confirm-title {
                            display: flex;
                            align-items: center;
                            padding: 14px 25px;
                            text-align: left;
                            font-family: RobotoRegularItalic;
                            background: #ff7daa;
                            font-size: 20px;

                            .profileAvatar {
                                margin-left: 1rem;
                            }
                        }

                        .ant-confirm-content {
                            text-align: center;
                            margin: 20px 20px 0;
                            font-family: RobotoMedium;
                            font-size: 16px;
                        }
                    }

                    &-btns {
                        display: flex;
                        justify-content: center;
                        margin: 25px;
                        float: unset;

                        button {
                            min-width: 140px;
                            height: 42px;
                            font-family: RobotoMedium;
                            font-size: 11px;
                            background-color: #ffc800;
                            color: #fff;
                            border: 1px solid #ffc800;
                            border-radius: 4px;
                            box-shadow: unset;
                            text-shadow: unset;
                            text-transform: uppercase;

                            &:hover {
                                background-color: transparent;
                                color: #ffc800;
                            }
                        }
                    }
                }
            }
        }
    }
}
