.RateCoachModal{
  padding: 35px 30px;
  text-align: center;

  .info {
    font-family: "RobotoMedium", serif;
  }

  .btnPlate {
    display: flex;
    justify-content: space-evenly;
  }
}