.ChangePasswordModal {
  padding: 10px 25px;
  justify-content: center;
}

a {
  color: #204d8d;

  &:hover {
    color: #204d8d;
    text-decoration: underline;
  }
}

.password {

  &-column {
    margin: 25px;

    &-input {
      margin-bottom: 40px;
      width: 100%;
    }
  }
}
