.bonus {
  background-color: #fff;
  display: grid;
  grid-template-areas: "record invite invite" "record data refer" "record data refer";
  grid-template-rows: 244px 266px 244px;
  grid-template-columns: 493px 581px 380px;
  grid-gap: 30px;
}
.bonus .ant-card-body {
  color: #000;
}
.bonus .new-input input[type="text"] {
  border-bottom: 1px solid #000;
}
.bonus .new-input label {
  font-family: RobotoMedium, sans-serif;
  color: #000;
}
.bonus .offers {
  grid-area: record;
}
.bonus .offers .ant-card-body {
  height: calc(34%);
}
.bonus .offers-item {
  margin: 25px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #777;
}
.bonus .offers-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.bonus .offers-item-header .date {
  font-family: RobotoMedium, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #21bedd;
  text-align: center;
  margin-right: 40px;
}
.bonus .offers-item-header .title {
  font-size: 18px;
  line-height: 18px;
  font-family: RobotoMediumItalic, sans-serif;
  color: #111;
}
.bonus .offers-item-body .info {
  font-family: RobotoRegular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #111;
}
.bonus .offers-item-body .link {
  color: #21bedd;
  font-size: 12px;
  line-height: 24px;
  font-family: RobotoRegular, sans-serif;
}
.bonus .second-subscription {
  grid-area: data;
}
.bonus .second-subscription-container {
  padding: 25px;
}
.bonus .second-subscription-container .title {
  font-family: RobotoMediumItalic, sans-serif;
  font-size: 20px;
}
.bonus .referLink {
  grid-area: refer;
}
.bonus .referLink-column {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.bonus .referLink-column .title {
  font-family: RobotoMediumItalic, sans-serif;
  font-size: 20px;
}
.bonus .referLink-column .info {
  font-family: RobotoRegular, sans-serif;
  margin-bottom: 90px;
}
.bonus .referLink-column .input {
  width: 90%;
  align-self: center;
  margin-bottom: 60px;
}
.bonus .referLink-column .copyBtn {
  align-self: center;
}
.bonus .invite {
  grid-area: invite;
}
.bonus .invite img {
  float: left;
  margin-right: 22px;
  color: #fff;
}
.bonus .invite .title {
  font-family: RobotoMediumItalic, sans-serif;
  font-size: 20px;
  margin-top: 22px;
}
.bonus .invite .info {
  font-family: RobotoRegular, sans-serif;
}
