.rbc-time-eventcolumn {
    display: inline-flex;
    flex-direction: column;
    min-height: 100%;

    .rbc-timeslot-group {
        flex: 1;
    }
}


.rbc-timeslot-group {
    //border-top: 1px solid #ddd;
    //border-right: 1px solid #ddd;
    min-height: 40px;
    display: flex;
    flex-flow: column nowrap;


}

.rbc-time-eventgutter,
.rbc-header-eventgutter {
    flex: none;
}

.rbc-label {
    padding: 0 5px;

    .icon-clock {
        margin: auto;
        font-size: 28px;
    }
}

.rbc-eventlabel {
    color: #21bedd;
    display: flex;
    height: 100%;
    width: 100%;

    .event-body {
        margin: auto;
    }
}



