.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
}
.header-search {
  width: 20%;
  max-width: 300px;
  z-index: 12;
}
.header-balance {
  width: 15%;
  font-size: 24px;
  padding-left: 20px;
}
.header-train {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
.header-train .header-btn {
  margin-right: 15px;
}
.header-notification {
  margin-left: auto;
  margin-right: 65px;
}
.header-notification .icon {
  cursor: pointer;
}
.header-notification .icon:hover {
  color: #21bedd;
}
.header-exit .btn {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
}
.header-exit .btn .icon {
  color: #344051;
}
.header-exit .btn:hover {
  border: none;
  background-color: transparent;
}
.header-exit .btn:hover .icon {
  color: #21bedd;
}
