.trainings {
    position: relative;
    &-all {
        .tableheader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 30px;
            background-color: #fff;
            border: none;
            z-index: 99;
            top: 0;
        }
        .menu-header {
            display: flex;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 18px;
            color: #111111;
            font-family: "RobotoMediumItalic", sans-serif;
            text-transform: uppercase;
            white-space: nowrap;
            padding: 20px 0;
            background-color: #fff2f6;
            justify-content: space-around;
            .flex-col {
                text-align: center;
                margin-right: 1%;
                &:first-child {
                    margin-left: 1%;
                }
                &.date {
                    width: 9%;
                }

                &.name {
                    width: 15%;
                }

                &.discipline {
                    width: 15%;
                }

                &.record {
                    width: 15%;
                }

                &.homework {
                    width: 30%;
                }

                &.attachments {
                    width: 15%
                }
            }
        }
        .table-footer {
            text-align: center;
            margin: 15px;
        }
    }
}
