.trainings {
  position: relative;
}
.trainings-all .tableheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  border: none;
  z-index: 99;
  top: 0;
}
.trainings-all .tableheader .ant-input-search {
  width: 37%;
}
.trainings-all .menu-header {
  display: flex;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  color: #111111;
  font-family: "RobotoMediumItalic", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 20px 0;
  background-color: #fff2f6;
  justify-content: space-around;
}
.trainings-all .menu-header .flex-col {
  text-align: center;
  margin-right: 1%;
}
.trainings-all .menu-header .flex-col:first-child {
  margin-left: 1%;
}
.trainings-all .menu-header .flex-col.date {
  width: 9%;
}
.trainings-all .menu-header .flex-col.name {
  width: 15%;
}
.trainings-all .menu-header .flex-col.discipline {
  width: 15%;
}
.trainings-all .menu-header .flex-col.record {
  width: 15%;
}
.trainings-all .menu-header .flex-col.homework {
  width: 30%;
}
.trainings-all .menu-header .flex-col.attachments {
  width: 15%;
}
.trainings-all .table-footer {
  text-align: center;
  margin: 15px;
}
