.personal{

	&-notifications{

		&-type {
			margin-bottom: 25px;
		}

		&-title {
			font-family: RobotoMediumItalic;
			color: #21bedd;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.notifications-column{
			margin: 25px 35px 35px 35px;

			&-input {
				margin-bottom: 50px;

				.textarea-label {
					font-family: RobotoRegular;
					color: #777777;
				}
				.textarea-field {
					border-color: #e1e1e1;
				}
			}
		}
	}
}


