

.cancelVisitModal{
  padding: 20px 30px 40px 30px;

  &-txtarea{
    margin-bottom: 12px;
  }

  &-upload{
    display: block;
    margin-bottom: 0px;
  }

  &-datepickers{
    margin-bottom: 20px;
  }

  .datepicker-base{
    margin-bottom: 5px;
  }

  &-dpAdd{
    display: flex;
    margin-bottom: 40px;
  }
}

.btn-change-worktime{
  background-color: #fdc401;
  border: none;
  border-radius: 10px;
  color: #000;
}

.btn-change-week{
  background-color: transparent;
  border: none;
  border-radius: 30px;
  color: #000;
  padding: 8.5px 0.5rem;
  margin: 30px 7px 30px;
}

.btn-change-week-choose{
  background-color: #15aecc !important;
  border: none;
  border-radius: 30px;
  color: #000;
  padding: 8.5px 0.5rem;
  margin: 30px 7px 30px;
}