.transfer-or-newschedule{
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  &-btn{
    display: inline-block;
    margin: 10px;
    
  }
  .btn-yellow{
    background-color: #ffc800;
    color: #fff;
    border: 1px solid #ffc800;
  }
  .btn-yellow:hover{
    background-color: white;
    color: #ffc800;
  }
  
}
