.card-calendar {
  min-width: 1050px;
}
.row-schedule {
  border-top: 15px !important;
}
.schedule-editBtn {
  text-align: center;
}
.rbc-month-view .rbc-month-row,
.rbc-month-view .rbc-header {
  background-color: white;
}
.cancel_rec {
  margin: 5px 0 25px 0;
  background-color: transparent;
}
