.row-schedule {
  border-top: 15px !important;
}
.schedule-editBtn {
  text-align: center;
}
.rbc-month-view .rbc-month-row,
.rbc-month-view .rbc-header {
  background-color: white;
}
.cancel_rec {
  margin: 5px 0 25px 0;
  background-color: transparent;
}
.schedule-message-modal {
  display: flex;
  justify-content: center;
}
.schedule-message-modal-wrapper {
  top: 30%;
}
.schedule-message-modal-wrapper .schedule-message-btn {
  display: inline-block;
  margin: 10px;
}
.schedule-message-modal-wrapper .schedule-message-btn button {
  width: 100px;
}
.schedule-message-modal-wrapper .block-free-trainer {
  padding: 10px;
}
.schedule-message-modal-wrapper .free-trainer {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
