.profile-card-student {
  padding: 25px 35px;

  .profile-student {
    display: flex;

    &-avatar {
      margin-right: 30px;
    }

    &-info {
      flex-direction: column;
      align-self: center;

      &-name {
        color: #21bedd;
        font-family: "RobotoMediumItalic";
        text-transform: uppercase;
      }

      &-count {
        font-family: RobotoMedium;

        &-number {
          font-size: 22px;
        }
      }
    }
  }
}