.profile-card-student {
  padding: 25px 35px;

  .profile-student {
    display: flex;

    &-avatar {
      margin-right: 30px;
    }

    &-info {
      flex-direction: column;
      align-self: center;

      &-discipline{
        margin: 10px 0px;
      }
      &-email{
        margin: 10px 0px;
      }
      &-phones{
        margin: 10px 0px;
      }

      &-name {
        color: #21bedd;
        font-family: "RobotoMediumItalic";
        text-transform: uppercase;
      }

      &-count {
        

        &-number {
          font-size: 22px;
        }
      }
    }
  }
}