.profile-card-student {
  padding: 25px 35px;
}
.profile-card-student .profile-student {
  display: flex;
}
.profile-card-student .profile-student-avatar {
  margin-right: 30px;
}
.profile-card-student .profile-student-info {
  flex-direction: column;
  align-self: center;
}
.profile-card-student .profile-student-info-name {
  color: #21bedd;
  font-family: "RobotoMediumItalic";
  text-transform: uppercase;
}
.profile-card-student .profile-student-info-count {
  font-family: RobotoMedium;
}
.profile-card-student .profile-student-info-count-number {
  font-size: 22px;
}
