.profile-card-coach {
  padding: 12px 35px;

  .profile-coach {
    display: flex;
    justify-content: space-between;

    &-avatar {
      width: 132px;
    }

    &-info {
      flex-direction: column;
      width: 250px;
      align-self: center;

      &-name {
        color: #21bedd;
        font-family: "RobotoMediumItalic";
        text-transform: uppercase;
      }

      &-btn {
        margin-top: 15px;
        align-self: flex-end;
      }
    }

    &-rate {
      width: 175px;
      font-family: RobotoMedium;
      align-self: center;

      &-count {
        font-family: RobotoMedium;
        color: #ffc908;

        &-amount {
          color: #000;
        }
      }

      &-info {
        font-size: 12px;
        color: #b7b7b7;
      }
    }

    &-comment {
      font-family: RobotoMedium;
      margin: 20px 0;
      overflow: hidden;
    }

    &-promo {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      border: 2px dashed #21bedd;
      border-radius: 15px;
      overflow: hidden;

      .spinner-wrapper {
        position: absolute;
        top: 155px;
        left: 285px;
        z-index: 1;
      }

      iframe {
        position: absolute;
        width: 100%;
        max-height: 360px;
        max-width: 640px;
        height: 100%;
      }
    }
  }
}