.profile-card-coach {
  padding: 12px 35px;
}
.profile-card-coach .profile-coach {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-card-coach .profile-coach-avatar {
  width: 132px;
}
.profile-card-coach .profile-coach-info {
  flex-direction: column;
  align-self: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile-card-coach .profile-coach-info-name {
  color: #21bedd;
  font-family: "RobotoMediumItalic";
  text-transform: uppercase;
}
.profile-card-coach .profile-coach-info-btn {
  margin-top: 15px;
  align-self: flex-end;
}
.profile-card-coach .profile-coach-info-discipline {
  margin: 10px 0px;
}
.profile-card-coach .profile-coach-info-email {
  margin: 10px 0px;
}
.profile-card-coach .profile-coach-info-phones {
  margin: 10px 0px;
}
.profile-card-coach .profile-coach-rate {
  width: 175px;
  font-family: RobotoMedium;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.profile-card-coach .profile-coach-rate-count {
  font-family: RobotoMedium;
}
.profile-card-coach .profile-coach-rate-count-amount {
  color: #000;
}
.profile-card-coach .profile-coach-rate-info {
  font-size: 12px;
  color: #b7b7b7;
}
.profile-card-coach .profile-coach-rate-btn {
  width: fit-content;
}
.profile-card-coach .profile-coach-comment {
  font-family: RobotoMedium;
  margin: 20px 0;
  overflow: hidden;
}
.profile-card-coach .profile-coach-promo {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border: 2px dashed #21bedd;
  border-radius: 15px;
  overflow: hidden;
}
.profile-card-coach .profile-coach-promo .spinner-wrapper {
  position: absolute;
  top: 155px;
  left: 285px;
  z-index: 1;
}
.profile-card-coach .profile-coach-promo iframe {
  position: absolute;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  height: 100%;
}
