.profile-card-coach {
  padding: 12px 35px;

  .profile-coach {
    display: flex;
    justify-content: flex-start;

    &-avatar {
      margin-right: 30px;
    }

    &-info {
      flex-direction: column;
      width: 40%;
      margin-right: 50px;
      align-self: center;

      &-name {
        color: #21bedd;
        font-family: "RobotoMediumItalic";
        text-transform: uppercase;
      }

      &-btn {
        margin-top: 15px;
        align-self: flex-end;
      }
    }

    &-rate {
      width: 30%;
      font-family: RobotoMedium;
      align-self: center;

      &-count {
        font-family: RobotoMedium;
        color: #ffc908;

        &-amount {
          color: #000;
        }
      }

      &-info {
        font-size: 12px;
        color: #b7b7b7;
      }
    }

    &-comment {
      font-family: RobotoMedium;
      margin: 20px 0;
      overflow: hidden;
    }

    &-promo {
      .coach-data-promoVideo {
        width: 100%;
      }
    }
  }
}