.coach {
	&-data {

		&-skill {
			width: 70%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;

			.input-form-item {
				&:nth-child(1) {
					width: 47.5%;
				}

				&:nth-child(2) {
					width: 47.5%;
				}

				&:nth-child(3) {
					width: 47.5%;
				}

				&:nth-child(4) {
					width: 47.5%;
				}

				&:nth-child(5) {
					width: 100%;
				}

				&:nth-child(6) {
					width: 100%;
				}

				&:nth-child(7) {
					width: 100%;
				}

				&:nth-child(8) {
					width: 100%;
				}
			}
		}
	}
}