.coach {
	&-data {
		&-block.disciplines {
			display: flex;
			flex-direction: column;
		}

		&-skill {
			width: 70%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;

			.input-form-item {
				&:nth-child(2) {
					width: 100%;
				}

				&:nth-child(3) {
					width: 47.5%;
				}

				&:nth-child(4) {
					width: 47.5%;
				}

				&:nth-child(5) {
					width: 47.5%;
				}

				&:nth-child(6) {
					width: 47.5%;
				}

				&:nth-child(7) {
					width: 100%;
				}

				&:nth-child(8) {
					width: 100%;
				}

				&:nth-child(9) {
					width: 100%;
				}
			}

			&-footer {
				display: flex;
				width: 100%;
				max-width: 120px;

				button {
					margin: 0 20px 10px 0;
					height: 35px;
					width: 100px;
					padding: 0;
					font-size: 12px;
				}

				&-line {
					margin: 17px auto 40px;
					border-bottom: #21bedd 1px solid;
					width: 100%;
				}
			}
		}
	}
}
