.my-students {
  .ant-card-body {
    height: 485px;
    overflow: hidden;
    padding: 30px !important;

    .spinner-wrapper {
      margin-top: 20px;
    }

    &:before, &:after {
      display: none;
    }
  }
  &-link {
    font-family: RobotoRegularItalic, sans-serif;
    font-size: 14px;
    padding: 0 !important;
    padding-right: 8px !important;
    color: #000;
    display: inline-flex;
    flex-direction: row-reverse;

    .icon {
      margin: 0 10px;
      color: #000;
      font-size: 24px !important;
    }
    span {
      color: #000;
    }
  }
}
