.my-students .ant-card-body {
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-students .ant-card-body:before,
.my-students .ant-card-body:after {
  display: none;
}
.my-students-scroll {
  padding: 30px!important;
}
.my-students-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  padding: 0 !important;
  padding-right: 8px !important;
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}
.my-students-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.my-students-link span {
  color: #000;
}
.my-students .ant-card-body {
  justify-content: center;
}
