.my-coaches {
  .ant-card-body {
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before, &:after {
      display: none;
    }
  }
  &-scroll {
    padding: 30px!important;
  }
  &-link {
    font-family: RobotoRegularItalic, sans-serif;
    font-size: 14px;
    padding: 0 !important;
    padding-right: 8px !important;
    color: #000;
    display: inline-flex;
    flex-direction: row-reverse;

    .icon {
      margin: 0 10px;
      color: #000;
      font-size: 24px !important;
    }
    span {
      color: #000;
    }
  }
  .ant-card-body {
    justify-content: center;
  }
}
