.rbc-time-view,
.rbc-month-view {
  background-color: #ffffff;
}
.table-footer {
  margin-top: 7px;
}
.table-footer .type {
  display: flex;
  padding-left: 30px;
  align-items: center;
  margin-top: 15px;
}
.table-footer .type-color-available {
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  background-color: rgba(0, 255, 0, 0.2);
  border: 2px solid #00ff00;
}
.table-footer .type-color-own {
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  background-color: rgba(33, 190, 221, 0.2);
  border: 2px solid #21bedd;
}
.table-footer .type-color-reserved {
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  background-color: rgba(33, 190, 221, 0.2);
  border: 2px solid #21bedd;
}
.table-footer .type-color-done {
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  background-color: #fdc401;
  border: 2px solid #fdc401;
}
.table-footer .type-color-error {
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  background-color: #ff7daa;
  border: 2px solid #ff7daa;
}
.wrapper-small-calendar {
  padding-top: 30px;
}
.rbc-toolbar {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
}
.rbc-toolbar .arrowsGroup {
  margin-left: 20px;
  background-color: transparent;
}
.rbc-toolbar-label {
  margin-left: 20px;
  text-transform: capitalize;
}
.rbc-toolbar-receptionCount {
  margin: auto 25px auto 10px;
  height: 20px;
  width: auto;
  font-size: 12px;
  color: white;
  background-color: #21bedd;
  border-radius: 10px;
  padding: 0 10px;
}
.rbc-toolbar-discipline {
  margin-right: auto;
}
.rbc-header {
  font-size: 12px;
  color: #344051;
  display: flex;
  min-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbc-header > span {
  margin: auto;
  text-transform: capitalize;
}
.rbc-month-row {
  min-height: 135px;
}
.rbc-date-cell {
  text-align: left;
  padding: 15px 0 0 15px;
  z-index: 7;
}
.rbc-row {
  height: 100%;
}
.month-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.rbc-month-row .month-row-segment {
  display: flex;
  font-size: 32px;
  height: 100px;
}
.rbc-month-row .month-row-segment-content {
  margin: 0 auto;
}
.rbc-month-row .month-row-segment-content .icon-count {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #dddddd;
}
.rbc-month-row .month-row-segment .root_schedule {
  width: 100%;
  height: 135px;
  box-sizing: border-box;
  position: relative;
  top: -36px;
  padding-top: 40px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  background-color: #fff;
}
.rbc-month-row .month-row-segment .root_schedule:hover {
  border: #85cafd 1px solid;
}
.rbc-month-row .month-row-segment .root_schedule.no-edit:hover {
  border: #f25328 1px solid;
}
.rbc-month-row .month-row-segment .root_schedule > .icon-no {
  color: #f25328;
}
.rbc-month-row .month-row-segment .root_schedule > .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.rbc-month-row .month-row-segment-schedule {
  display: table;
  position: relative;
  width: 100%;
  z-index: 2;
}
.rbc-month-row .month-row-segment-schedule .schedule-isDayOff-item {
  display: table-cell;
  font-size: 14px;
  color: #344051;
  text-align: center;
}
.rbc-month-row .month-row-segment-schedule .schedule-time {
  display: table-row;
}
.rbc-month-row .month-row-segment-schedule .schedule-time-item {
  display: table-cell;
  font-size: 14px;
  color: #344051;
}
.rbc-month-row .month-row-segment-schedule .schedule-time-item.empty {
  width: 35%;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime {
  display: table-row;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item {
  display: table-cell;
  font-size: 14px;
  color: #f25328;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item.with-sign {
  width: 35%;
  display: flex;
  height: 100%;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item.with-sign div {
  display: inline-block;
  margin-left: auto;
}
.rbc-month-row .month-row-segment-coming .month-row-segment-content {
  color: #21bedd;
}
.rbc-month-row .month-row-segment-coming .icon-count {
  background-color: #21bedd;
}
.rbc-month-row .user-month-row-segment {
  height: 85px;
  margin: 10px 0 5px 0;
  position: relative;
  border: 0;
}
.rbc-month-row .user-month-row-segment .user-visit {
  font-size: 13px;
  background-color: #21bedd;
  border: 0px;
  border-radius: 5px;
  height: 100%;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}
.rbc-month-row .user-month-row-segment .user-visit .separate-visit-div:not(:last-child) {
  margin-bottom: 15px;
}
.rbc-month-row .user-month-row-segment .user-visit .separate-visit-div .icon {
  color: white;
  position: absolute;
  right: 20px;
}
.rbc-month-row .user-month-row-segment .user-visit .vis-info {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rbc-month-row .user-month-row-segment .user-visit .vis-info-btn {
  text-align: center;
}
.rbc-month-row .user-month-row-segment .user-visit .vis-info-btn:hover {
  cursor: pointer;
}
.rbc-month-row .user-month-row-segment .user-visit-gap {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 15px;
  top: -30px;
  background-color: #21bedd;
  color: white;
  border-radius: 50%;
  text-align: center;
}
.rbc-label.rbc-header-gutter.rbc-clock-icon {
  width: 10%;
  max-width: 90px;
  display: flex;
  color: #21bedd;
}
.rbc-label.rbc-header-gutter.rbc-clock-icon .icon {
  margin: auto;
}
.rbc-time-gutter.rbc-time-column {
  width: 10%;
  max-width: 90px;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group {
  font-family: 'icon' !important;
  color: #b6e0ff;
  font-size: 25px;
  text-align: center;
  height: 52px;
  line-height: 52px;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-OK {
  background-color: rgba(0, 255, 0, 0.2) !important;
  border: 1px solid #00ff00;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-OK:hover {
  position: relative;
  z-index: 5;
  background-color: rgba(0, 255, 0, 0.6);
  line-height: 1;
  cursor: pointer;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-OK:hover:after {
  margin-top: 12px;
  content: '+';
}
.rbc-time-slot.rbc-label {
  color: #21bedd;
  display: flex;
}
.rbc-time-slot.rbc-label > span {
  margin: auto;
}
.rbc-header {
  cursor: pointer;
}
.rbc-header .header-month {
  margin: auto;
}
.rbc-header .header-week-weekday {
  font-size: 12px;
}
.rbc-header .header-week-day {
  font-size: 14px;
  text-align: center;
}
.rbc-header.rbc-today {
  background-color: #e8f8fc !important;
}
.rbc-header.rbc-today .header-week > div {
  font-family: "RobotoBold";
}
.rbc-calendar-wrapper {
  min-width: 78%;
  margin-right: 10px;
}
.rbc-smallcalendar-wrapper {
  margin-top: 5px;
}
.rbc-smallcalendar-wrapper .change-worktime {
  margin: 0px 0px 15px 15px;
}
.rbc-smallcalendar-wrapper .block-change-worktime {
  height: 35px;
  width: 15px;
  margin: 0px 0px 15px 15px;
}
.rbc-day-slot .rbc-event-content {
  line-height: 1.3;
  background-color: #fed64d;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  font-size: 11px;
}
.rbc-day-slot .rbc-event {
  display: flex;
  padding: 4px;
  height: 55px !important;
  margin-top: -10px;
  padding: 0;
  border: transparent 4px solid;
  background-color: transparent;
  width: 100%;
  position: absolute;
  z-index: 6;
}
.calendar-editor .rbc-selected-cell {
  font-family: 'icon' !important;
  color: #b6e0ff;
  font-size: 25px;
  text-align: center;
  height: 135px;
  line-height: 130px;
  position: relative;
  z-index: 1;
  background-color: #f1f9ff;
  border: 1px #85cafd dashed;
  cursor: pointer;
}
.calendar-editor .rbc-selected-cell:before {
  content: "\E900";
}
.event-group {
  position: relative;
  background-color: #fdc401;
  height: 100%;
  background-color: rgba(33, 190, 221, 0.2);
  border: 1px solid #21bedd;
  font-size: 12px;
  color: #000;
  padding: 5px 15px 5px 6px;
  font-weight: bold;
}
.event-group-freetrainers {
  min-height: 100px ;
}
.event-group-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
}
.event-group-cross span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  right: 1px;
}
.event-group-text {
  line-height: 17px;
  text-align: left;
}
.list-slot {
  height: 85%;
  margin: 4px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px 5px 6px;
  font-weight: bold;
}
.list-slot-text {
  color: black;
  height: 100%;
  margin: 0;
  margin-top: -10px;
}
.wrapper-calendar {
  position: relative;
}
.wrapper-calendar .schedule-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
