.coach-data-comfortTime {
  width: 70%;
}
.coach-data-comfortTime .ant-form-item {
  margin-bottom: 0;
}
.coach-data-comfortTime .ant-radio-group {
  display: unset;
}
.coach-data-comfortTime .radio-label {
  color: #000;
  font-family: RobotoMedium;
  padding-right: 30px;
  width: 220px;
}
.coach-data-comfortTime .timeSchedule {
  display: flex;
  user-select: none;
}
.coach-data-comfortTime .timeSchedule .daySliders {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.coach-data-comfortTime .timeSchedule .daySliders .timePlate {
  position: relative;
  top: -1.2em;
  font-size: 10px;
  height: 3px;
  font-family: RobotoRegular;
  color: #000;
  text-align: center;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 15px 0;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider.slider-0 {
  margin-top: 2px;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-rail {
  height: 2px;
  background-color: #000;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-track {
  background-color: #21bedd;
  height: 2px;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-disabled .ant-slider-handle,
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-disabled .ant-slider-track {
  display: none;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-handle {
  width: 8px;
  height: 8px;
  background-color: #21bedd;
  border: unset;
  margin: -3px 0 0 -1px;
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-handle:focus,
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-handle:hover {
  box-shadow: 0 0 0 3px rgba(33, 190, 221, 0.65);
}
.coach-data-comfortTime .timeSchedule .daySliders .ant-slider-handle-2 {
  margin-left: -5px;
}
.coach-data-comfortTime .timeSchedule .slidersBtnPlate {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 0;
}
.coach-data-comfortTime .dayCheckbox {
  min-width: 64px;
  float: left;
  margin-right: 12px;
}
