.profile-card-frozen {
  padding: 25px 35px;

  .profile-student {
    display: flex;

    &-balance {
      margin-bottom: 20px;

      &-input {
        margin-top: 30px;
      }
    }
  }
}