.coach-data-promoVideo {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 440px;
  max-width: 640px;
}
.coach-data-promoVideo .dropzone-video {
  width: 100%;
  height: 360px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 2px dashed #21bedd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coach-data-promoVideo .dropzone-video img {
  max-width: 100%;
  max-height: 100%;
}
.coach-data-promoVideo .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.coach-data-promoVideo .video-loading .spinner-wrapper {
  position: absolute;
  top: 165px;
  left: 305px;
  z-index: 1;
}
.coach-data-promoVideo .video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  align-self: center;
  border: 2px dashed #21bedd;
  border-radius: 15px;
  overflow: hidden;
}
.coach-data-promoVideo .video-wrapper iframe {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  height: 100%;
}
.coach-data-promoVideo .video-wrapper-changeBtn {
  margin-top: 5px;
  width: 100%;
}
.coach-data-promoVideo .upload-video-photo-click {
  text-align: center;
  font-family: "RobotoRegular", serif;
  font-size: 14px;
  margin-top: 10px;
  color: #111;
}
