.coach-data-promoVideo {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 410px;
  max-width: 640px;
}
.coach-data-promoVideo .dropzone-video {
  width: 100%;
  height: 360px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 2px dashed #21bedd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coach-data-promoVideo .dropzone-video img {
  max-width: 100%;
  max-height: 100%;
}
.coach-data-promoVideo .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coach-data-promoVideo .video-loading {
  display: none;
}
.coach-data-promoVideo .video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  align-self: center;
}
.coach-data-promoVideo .video-wrapper iframe {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  height: 100%;
}
.coach-data-promoVideo .video-wrapper-changeBtn {
  margin-top: 5px;
}
.coach-data-promoVideo .upload-video-photo-click {
  text-align: center;
  font-family: "RobotoRegular", serif;
  font-size: 14px;
  margin-top: 10px;
  color: #111;
}
